{% load static %}  

<div class="flex grow flex-col gap-y-5 overflow-y-auto  bg-gray-900 text-gray-500 px-6 pb-4">
  <div class="flex h-16 shrink-0 items-center">
    <a href="{% url 'Home' %}" class="flex items-center gap-3">
      <img
        src="{% static 'img/logo_hn.png' %}"
        alt="Hospital Regional de Ñuble"
        class="h-10 w-auto object-contain"
      />
      <span class="sr-only">Hospital Regional de Ñuble</span>
    </a>
  </div>
  {% include "components/navbar/nav.html" %}
</div>
